/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/* Général */

* {
    margin: 0;
    font-family: "Archivo", sans-serif;
}

:root {
    --max_width-1: 1440px;
    --max_width-2: 1040px;
    --black: #000;
    --white: #fff;
    --grey: #7A7A7A;
    --nuance_de_grey: #6B7280;
    --background: #F1F1F1;
    --overlay: #00000033;
    --transition: 0.3s ease-out;
}

a {
    text-decoration: none;
    color: var(--black);
    transition: var(--transition);
}

a:hover {
    opacity: 0.7;
    transition: var(--transition);
}

h1{
    color: var(--white);
    font-size: 40px;
    padding: 80px 0px 10px;
    font-weight: 600;
}

h2{
    font-size: 35px;
    font-weight: 600;
}

button{
    background: var(--white);
    border: none;
    padding: 10px 20px;
    transition: var(--transition);
}

button:hover{
    transform: scale(1.1);
    transition: var(--transition);
}

/* Header */

header {
    max-width: var(--max_width-1);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
}

header img {
    width: 100px;
}

#burger {
    display: none;
}

/* Section 1 */

.section1{
    background-image: url("/img/Boum_Boum/overlay-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section1>div{
    background: var(--overlay);
}

#container{
    max-width: var(--max_width-2);
    margin: auto;
    text-align: center;
    padding-bottom: 80px;
}

#container p{
    color: var(--white);
    width: 60%;
    margin: auto;
    line-height: 1.5rem;
    margin-bottom: 20px;
}

/* Section 2 */

.section2{
    background: var(--background);
}

.section2>div{
    max-width: var(--max_width-2);
    margin: auto;
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.section2>div>div{
    width: 50%;
}

#img-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.section2 div img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.section2 button{
    background: var(--black);
    color: var(--white);
}

.section2 p{
    padding: 20px 0;
    color: var(--grey);
    padding-right: 20px;
    line-height: 1.5rem;
}

/* Section 3 */

.section3{
    max-width: var(--max_width-2);
    margin: auto;
    padding: 60px 0;
    display: flex;
    align-items: center;
}

.section3 div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.section3 article{
    background: var(--background);
    padding: 10px;
}

.section3 article p{
    color: var(--grey);
}

.section3 p{
    color: var(--nuance_de_grey);
    line-height: 1.5rem;
}

.section3 article h3,
.section3 h2{
    margin-bottom: 10px;
}

.section3 button{
    background: black;
    color: white;
    margin: 20px auto;
    display: block;
}

.section3 article:nth-child(1),
.section3 article:nth-child(4){
    grid-column: 1/3;
}

#services-container{
    display: block;
    width: 90%;
    padding: 20px;
}

/* Section 4 */

.section4{
    background: var(--background);
}

.section4>div{
    max-width: var(--max_width-2);
    margin: auto;
}

.section4>div>div{
    max-width: 860px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.section4 img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}


/* Footer */

footer {
    background: var(--black);
}

footer > div {
    max-width: var(--max_width-1);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10px 10px;
}

footer div ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
}

footer img{
    width: 100px;
}

footer div a, footer div p{
    color: var(--white);
}