/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Général */

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --max-width: 1440px;
    --arimo: "Arimo", sans-serif;
    --open-sans: "Open Sans", sans-serif;
    --background: #fbebeb;
    --gris: #7A7A7A;
    --white: #f1f1f1;
    --black: #000;
    --pink: #EC4899;
    --red: #D41D35;
    --overlay: #ffffff6e;
    --transition: 0.3s ease-out;
    --shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.1);
}

a {
    color: var(--gris);
    text-decoration: none;
    transition: var(--transition);
    font-family: var(--roboto);
}

a:hover {
    opacity: 0.7;
    transition: var(--transition);
}

ul {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 40px;
}

button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

button:hover {
    transform: scale(1.1);
    transition: var(--transition);
}

h1,
h2 {
    font-family: var(--arimo);
    font-size: 35px;
}

/* Header */

header {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header div {
    display: flex;
    background: var(--red);
    padding: 10px 20px;
    border-radius: 4px;
    gap: 10px;
    color: var(--white);
    align-items: center;
    transition: var(--transition);
}

header div p {
    font-family: var(--roboto);
}

header div:hover {
    transform: scale(1.1);
    transition: var(--transition);
}

header img {
    width: 180px;
}

#burger {
    display: none;
}

/* Section 1 */

.section1 {
    background-image: url("/img/nomade_maquillage/image-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: solid var(--gris) 1px;
}

.section1>div {
    background: var(--overlay);
}

#container {
    max-width: var(--max-width);
    margin: auto;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#container p {
    max-width: 770px;
    margin: 0 auto;
    padding: 20px;
}

#container div {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

#container div button:nth-child(1) {
    background: var(--pink);
    color: var(--white);
}

#container div button:nth-child(2) {
    color: var(--pink);
}

/* Section2 */
.section2 {
    max-width: var(--max-width);
    margin: auto;
    padding: 80px 10px;
    text-align: center;
}

.section2 h2 {
    font-size: 35px;
    font-family: var(--arimo);
    margin-bottom: 60px;
}

.section2>div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.section2>div img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.section2>div article {
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.section2>div article h3 {
    text-align: left;
    margin: 24px 14px 0;
    font-family: var(--arimo);
}

.section2>div article p:nth-last-child(2) {
    text-align: left;
    margin: 10px 14px;
    font-size: var(--open-sans);
}

.section2>div article p:nth-last-child(1) {
    font-size: 20px;
    font-family: var(--arimo);
    font-weight: 700;
    color: var(--pink);
    padding: 10px;
}

/* Section3 */
.section3 {
    background: var(--background);
}

.section3>div {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    align-items: center;
    padding: 100px 10px;
}

.section3>div img {
    height: 460px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.section3>div h2,
.section3>div div p {
    margin-bottom: 20px;
}

.section3>div div button {
    background: var(--pink);
    color: var(--white);
}

.section3>div div {
    margin-right: 10px;
}

/* .section4 */

.section4 {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 20px 100px;
}

.section4 h2 {
    text-align: center;
    padding: 100px 0;
}

.section4>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.section4>div img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.section4 article>div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.section4 article {
    box-shadow: var(--shadow);
    padding: 20px 10px;
    border-radius: 10px;
}

.section4 article div i {
    color: var(--background);
}

.section4 article div i.active {
    color: var(--pink);
}

/* Section 5 */

.section5 {
    background: var(--background);
}

.section5>div {
    max-width: 540px;
    margin: auto;
    text-align: center;
    padding: 100px 10px 50px;
}

form {
    text-align: left;
    margin-top: 40px;
}

form>div div {
    display: inline-grid;
    width: 48%;
    gap: 10px;
}

form textarea {
    width: 97%;
    height: 100px;
    margin: 10px 0 20px;
    padding: 10px;
}

form button {
    display: block;
    margin: 0 auto;
    background: var(--black);
    color: var(--white);
}

form input {
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
}

#email{
    margin-left: 20px;
}

/* Footer */

footer {
    background: var(--black);
    color: var(--white);
}

footer>div {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer nav ul a {
    color: var(--white);
}

footer>div img {
    width: 180px;
}

@media screen and (max-width: 1024px) {
    #burger {
        display: block;
    }

    header nav,
    header div {
        display: none;
    }

    .section2>div {
        grid-template-columns: repeat(2, 1fr);
    }

    .section3>div {
        display: block;
    }

    .section3>div img {
        margin-top: 20px;
        display: block;
        height: 360px;
    }

    .section4>div {
        display: block;
    }

    .section4 article {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    footer nav {
        display: none;
    }

    form>div div {
        display: block;
        width: 100%;
    }

    #email {
        margin-left: 0;
    }

    form textarea{
        width: 92%;
    }

    .section2>div {
        grid-template-columns: 1fr;
    }
}