/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Général */
*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

:root {
    --max-width: 1440px;
    --prata: "Prata", serif;
    --roboto: "Roboto", sans-serif;
    --background: #fbebeb;
    --gris: #7A7A7A;
    --white: #f1f1f1;
    --black: #000;
    --icon: #EC4899;
    --transition: 0.3s ease-out;
}

a{
    text-decoration: none;
    font-family: var(--roboto);
    transition: var(--transition);
}

a:hover{
    opacity: 0.7;
    transition: var(--transition);
}

.btn{
    color: var(--black);
    font-weight: 500;
}

ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 40px;
}

h1, h2, h3{
    font-family: var(--prata);
    font-weight: 400;
}

/* Header */

header{
    background: var(--background);
}

header div{
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

header div img{
    width: 200px;
}

header nav a{
    color: var(--gris);
}

#burger{
    display: none;
}

/* Section 1 */

.section1{
    background: var(--background);
}

.section1 > div{
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    padding-bottom: 50px;
}

.section1 > div img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.section1 > div img:nth-child(1){
    margin-top: 10%;
}

.section1 > div div:nth-last-child(1){
    display: flex;
    gap: 20px;
    width: auto;
}

.section1 > div div{
    width: 44%;
}

.section1 > div div h1{
    margin-bottom: 10px;
    font-size: 35px;
}

.section1 > div div a{
    color: var(--black);
    font-weight: 500;
    display: inline-block;
    margin: 40px 0;
}

/* Section 2 */

.section2{
    max-width: var(--max-width);
    margin: auto;
    text-align: center;
    padding: 0 10px 50px;
}

.section2 div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.section2 div i{
    color: var(--icon);
    font-size: 40px;
}

.section2 h2{
    padding: 40px 0;
    font-size: 35px;
}

.section2 h3{
    padding: 14px 0;
}

.section2 p{
    max-width: 600px;
    margin: auto;
    padding-bottom: 20px;
}

/* Footer */

footer{
    background: var(--background);
}

footer > div{
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px 20px;
}

footer > div a{
    color: var(--black);
}

footer > div div a{
    color: var(--gris);
}